@import "tailwindcss";

@theme {
  /* Define semantic variables and assign light theme values */
  --color-bg: #fbf1c7;
  --color-bg-soft: #f9f5d7;
  --color-bg-hard: #f2e5bc;
  --color-fg: #3c3836;
  --color-fg-muted: #928374;
  --color-accent-red: #cc241d;
  --color-accent-green: #98971a;
  --color-accent-yellow: #d79921;
  --color-accent-blue: #458588;
  --color-accent-purple: #b16286;
  --color-accent-aqua: #689d6a;
  --color-accent-orange: #d65d0e;
}

.dark {
  --color-bg: #282828;
  --color-bg-soft: #32302f;
  --color-bg-hard: #1d2021;
  --color-fg: #ebdbb2;
  --color-fg-muted: #a89984;
  --color-accent-red: #fb4934;
  --color-accent-green: #b8bb26;
  --color-accent-yellow: #fabd2f;
  --color-accent-blue: #83a598;
  --color-accent-purple: #d3869b;
  --color-accent-aqua: #8ec07c;
  --color-accent-orange: #fe8019;
}

